<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/signup  css.css"> 
        <title> SIGN UP </title>
        <style>
            input[type=button], input[type=submit], input[type=reset] {
                background-color: #04AA6D;
                border: none;
                color: white;
                padding: 16px 32px;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <center><img src="../assets/gambar/logo/logo real.jpeg" style="width: 70px;" class="card-img-top" alt=" "></center>
                <center><h2>SIGN UP</h2></center>
            </div>

        <form action = "/signup" class = "form-control" method = "post" >
            <label>Username</label>
            <input type="text" placeholder="Input Username" name="username">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>

            <label>Email</label>
            <input type="email" placeholder="Input email" id="email" name="email">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>

            <label>Password</label>
            <input type="password" placeholder="Input Password" id="password" name="password">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>

            <label>Password check</label>
            <input type="password" placeholder="Confirm Password" id="password2" name="confirm_password">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
            <input type="submit" value="Submit" onclick="matchPassword()"> 
        </form>
        </div>
        <script src="../js/signup js.js"></script>
    </body>
    <main>
    </main>
</html>