<!DOCTYPE html>
<html>
  <head>
    <title>Upload Photo</title>
    <link rel="stylesheet" type="text/css" href="../css/upload css.css" />
    <style>
      button {
                background-color: rgb(17, 154, 239);
                border: none;
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
            }
      body { 
        background-image: url('../assets/gambar/bg/filebg.jpg');
        background-size: cover;
      }
      p {
        color: rgb(0, 110, 255);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="head">
        <center><h2>Upload Photo</h2></center>
      </div>
      <div class="kata">
        <center style="color:rgb(0, 0, 0)">"Ekspresikan post anda bersama Earth."</center>
      </div>
    
      <div class="kotak">
        <div class="image">
          <center><img src="../assets/gambar/logo/logo post.png" style="width: 80%;" id="gambar" /></center>
        </div>
      </div>
    
      <div class="caption">
        <div class="isi">
          <div class="row">
            <form action="/upload" method="post" enctype="multipart/form-data"> 
              <div> 
                  <center><label for="name">Image Title</label></center> 
                  <center><input type="text" id="name" placeholder="Name" 
                    value="" name="name" required> </center>
              </div> 
  
              <div> 
                  <center><label for="desc" placeholder = "Post your status">Describe Your Feeling</label> </center>
                  <center> <textarea id="desc" name="desc" value="" rows="1" placeholder="Description" required>  </textarea>  </center>

              </div> 
              <div> 
                  <center><label for="image">Upload Image</label> </center>
                  <center><input type="file" id="image" name="image" value="" required> </center>
              </div> 
  
              <div> 
                  <center><button type="submit">Submit</button></center> 
              </div> 
        </div>
    </section>
    </div>
        </div>
      </div>
      <div class="tombol">
        <input type="file" name="files" id="file" style="display: none" />
    </div>



    <script src="../js/upload js.js"></script>
  </body>
</html>